.Root {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 1rem;

  &.columnBased {
    flex-direction: column;
    padding: 10px 0;
  }

  .radioButtonItem {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .radioButton {
    width: 25px;
    min-width: 25px;
  }
}
